.place__title {
	font-size: 7.2rem;
	line-height: 1.05;
	font-weight: 900;
	margin: 0;
}

@media screen and (max-width: 1025px) {
	.place__title {
		font-size: 4.2rem;
	}
}

@media screen and (max-width: 769px) {}


@media screen and (max-width: 576px) {}