.place__title {
	font-size: 7.2rem;
	line-height: 1.05;
	font-weight: 900;
	margin: 0;
}

@media screen and (max-width: 1024px) {
	.place__title {}
}

@media screen and (max-width: 768px) {
	.place__title {}
}

@media screen and (max-width: 320px) {
	.place__title {}
}