.places {
	max-width: 984px;
	margin: 0 auto 92px;
}

@media screen and (max-width: 1025px) {
	.places {
		margin: 0 48px 92px;
	}
}

@media screen and (max-width: 769px) {
	.places {
		margin: 0 24px 88px;
	}
}

@media screen and (max-width: 576px) {
	.places {
		margin: 0 16px 64px;
	}
}