.cover__subtitle {
	max-width: 360px;
	font-size: 1.8rem;
	line-height: 1.22;
	font-weight: 400;
	margin: 0 0 32px;
}

@media screen and (max-width: 769px) {
	.cover__subtitle {
		margin: 0;
	}
}

@media screen and (max-width: 576px) {
	.cover__subtitle {
		font-size: 1.4rem;
	}
}