.cover__subtitle {
	max-width: 36rem;
	font-size: 1.8rem;
	line-height: 1.22;
	font-weight: 400;
	margin: 0 0 3.2rem;
}

@media screen and (max-width: 600px) {
	.cover__subtitle {}
}

@media screen and (max-width: 1024px) {
	.cover__subtitle {}
}

@media screen and (max-width: 768px) {
	.cover__subtitle {}
}

@media screen and (max-width: 320px) {
	.cover__subtitle {}
}