.lead__title {
	font-size: 9.6rem;
	line-height: 1;
	font-weight: 900;
	text-align: center;
	margin: 0 auto 32px;
	max-width: 720px;
}

@media screen and (max-width: 768px) {
	.lead__title {
		font-size: 7.2rem;
		margin-bottom: 32px;
	}
}

@media screen and (max-width: 575px) {
	.lead__title {
		font-size: 4rem;
	}
}