.footer__links {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	font-size: 1.6rem;
	line-height: 1;
	font-weight: 400;
}

@media screen and (max-width: 769px) {
	.footer__links {
		flex-direction: column;
		font-size: 2.4rem;
		margin-bottom: 48px;
	}
}