.lead__subtitle {
	font-size: 3rem;
	line-height: 1.2;
	font-weight: 400;
	margin: 0 auto 64px;
	max-width: 640px;
	width: 100%;
	text-align: center;
}

@media screen and (max-width: 575px) {
	.lead__subtitle {
		font-size: 1.6rem;
		margin-bottom: 40px;
	}
}