.cover {
	max-width: 1184px;
	margin: 0 auto 92px;
	background-image: url('../../images/cover-trains.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
	z-index: 0;
}

@media screen and (max-width: 1025px) {
	.cover {
		margin: 0 0 92px;
		max-height: 640px;
	}
}

@media screen and (max-width: 769px) {
	.cover {
		margin: 0 0 88px;
		max-height: 480px;
	}
}

@media screen and (max-width: 576px) {
	.cover {
		margin: 0 0 64px;
		max-height: 480px;
	}
}