.cover__title {
	max-width: 560px;
	font-size: 7.2rem;
	line-height: 1.05;
	font-weight: 900;
	margin: 0 0 32px;
}

@media screen and (max-width: 576px) {
	.cover__title {
		font-size: 3.2rem;
		margin: 0 16px 16px;
	}
}