.place {
	margin-bottom: 80px;
	display: grid;
	grid-template-columns: 460px 1fr;
	grid-template-rows: repeat(2, min-content);
	column-gap: 40px;
	row-gap: 48px;
}

@media screen and (max-width: 1025px) {
	.place {
		grid-template-columns: 340px 1fr;
		column-gap: 32px;
	}
}

@media screen and (max-width: 768px) {
	.place {
		margin-bottom: 50px;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr;
		column-gap: 0;
		row-gap: 32px;
	}
}