.footer {
	max-width: 1184px;
	margin: 0 auto 2.4rem;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

@media screen and (max-width: 768px) {
	.footer {}
}

@media screen and (max-width: 700px) {
	.footer {}
}